@import "./styles/Font.scss";
@include font(tiny);

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: tiny;
}

.message {
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 16px;
    position: absolute;
    text-align: center;
}

.game-over.message {
    font-size: 2em;
}

.score {
    font-size: 2em;
    padding: 16px;
}

header {
    padding: 16px;
    text-align: center;

    h1 {
        color: #C00;
        text-shadow: 2px 2px #000;
    }

    h2 {
        font-size: 0.75em;
    }
}
